<div class="new-article-container">
  <div class="new-article-form-container">
    <%= form_with model: @article, class: "new-article-form" do |form|  %>
    <h2 class="new-article-header">Create Article</h2>
      <div>
        <%= form.label :title, class: "new-article-label" %>
        <%= form.text_field :title, class: "new-article-input" %>
      </div>
      <div>
        <%= form.label :body, class: "new-article-label" %>
        <%= form.text_area :body, class: "new-article-input" %>
      </div>
      <div>
        <%= form.label :price, class: "new-article-label" %>
        <%= form.number_field :price, class: "new-article-input", min: 0, step:"100" %>
      </div>
      <div id="articlePrivate">
        <%= form.label :private, 'Premium' %>
        <%= form.check_box :private %>
      </div>
      <span class="premium-span">(Premium articles will be private)</span>
      <%= button_tag 'Create Article <i class="devise-button-icon fas fa-chevron-right"></i> '.html_safe, type: 'submit', class: 'new-article-btn' %>
    <% end %>
  </div>
</div>
