<div class="devise-container">
	<div class="screen">
		<div class="screen-content">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "devise-form" }) do |f| %>
      <h2>Log In</h2>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="devise-field">
					<i class="devise-input-icon fas fa-user"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-input", placeholder:"Email" %>
				</div>
				<div class="devise-field">
					<i class="devise-input-icon fas fa-lock"></i>
          <%= f.password_field :password, autocomplete: "current-password", class:"devise-input", placeholder:"Password" %>
        </div>
        <%= button_tag 'Log in <i class="devise-button-icon fas fa-chevron-right"></i> '.html_safe, type: 'submit', class: 'button devise-submit' %>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
	</div>
</div>
